@import "~bulma/sass/utilities/initial-variables"
@import "~animate.css/animate.css"
@import "~@creativebulma/bulma-collapsible/src/sass/index.sass"

@import url('https://fonts.googleapis.com/css?family=Montserrat')

html,body
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px
  overflow-x: hidden 

// Config vars
// Kaki logo brand color: #FD461E
$kaki-red: #D64000
$kaki-red-invert: #fff

$primary: $kaki-red
$primary-invert: $kaki-red-invert
$family-sans-serif: "Montserrat", sans-serif
$body-color: #333

.is-4
  width: 25%!important
  @media screen and (max-width: 480px)
    width: auto !important

@media screen and (max-width: 480px)
  .social
    margin-left: 2em

.title.is-6
  text-align: center

.card
  margin: 1rem
  box-shadow: none !important
  border-radius: 0
  .content
    text-align: center

.product-category
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%) !important

.is-full img
  object-fit: cover !important
  width: 250px !important
  height: 250px !important

//social icons
$facebook-color: #3B5998
$twitter-color: #00ACED
$instagram-color: #EA4C89
$pinterest-color: #FF0A12
$vimeo-color: #47FF33
$linkedin-color: #57F9FF
$hs-brown: #2b2523

#content
  max-width: 100% !important

#content .section
  padding: 0 !important

.container.content.service
  max-width: none !important

.service h1 
  color: #fff !important

.services-flex
  display: flex
  flex-direction: column

.grid-container
  display: grid
  grid-template-rows: 2fr 2fr 2fr
  grid-template-columns: 2fr 2fr
  grid-gap: 2px
  padding: 3rem
  @media screen and (max-width: 620px)
    display: flex
    flex-direction: column


.flex
  display: flex !important
  flex-direction: row
  justify-content: center
  align-items: stretch
  @media screen and (max-width: 480px)
    flex-direction: column

.flex:nth-of-type(2n)
  @media screen and (max-width: 480px)
    flex-direction: column-reverse

.flex:after
  content: ""
  display: table
  clear: both
                        
.hbtn
  color: #fff
  background-color: #446084
  border-color: rgba(0,0,0,.05)
  padding: 0.5rem
  text-decoration: none
  margin-top: 1rem

.right-pdp, .left-pdp
  background: #e8eaed
  padding: 2rem
  margin: 2rem
  max-width: 50%
  @media screen and (max-width: 480px)
    padding: 2rem
    max-width: 100%

// .left-pdp
//   margin-right: 1rem

.pdp-h1
  text-align: left
  padding: 2rem
  font-size: 2rem
  font-weight: bold
  @media screen and (max-width: 480px)
    text-align: center
    font-size: 1.5rem
    padding: 1.5rem

.pdp-desc
  padding: 2rem
  text-align: left
  line-height: 2
  @media screen and (max-width: 480px)
    text-align: left
    line-height: 1.35

.specs
  padding: 2rem

.application
  padding: 2rem

.pdp.container.flex
  @media screen and (max-width: 767px)
    flex-direction: column-reverse

.Collapsible__trigger
  padding: 2rem !important

.Collapsible
  display: flex
  justify-content: center
  flex-direction: column
  margin-top: 0.5rem
  span
    padding: 1rem
    text-align: center
    border: 1px solid $hs-brown
    border-radius: 15px
    font-weight: bold

.collapsible-elements
  display: flex
  flex-direction: column
  justify-content: center

.hbtn::focus
  color: #fff

.inner-container
  color: #fff
  padding: 12rem 8rem !important
  background-color: #666
  @media screen and (max-width: 480px)
    padding: 6rem 2rem !important
    flex-direction: column-reverse

.left
  text-align: left

.right
  text-align: right

.services-flex .column
  padding: 0

.hero.is-fullheight.hero-contact
  min-height: 50vh !important
  position: relative
  text-align: center
  color: white

.container.contact
  max-width: none !important
  background-color: #666

.section-content
  position: absolute
  top: 35%
  left: 50%
  transform: translate(-50%, 50%)

.row, .gallery 
  width: 100%
  -js-display: flex
  display: -ms-flexbox
  display: flex
  -ms-flex-flow: row wrap
  flex-flow: row wrap
  margin-top: -30px

.form-content
  display: flex
  align-items: center
  justify-content: center
  background-color: #666
  label
    color: #fff
  .box
    min-width: 60%
    padding: 6rem
    margin-bottom: 4rem
    background-color: #666
    box-shadow: none
    border: 1px solid #fff
    border-radius: 3px
    @media screen and (max-width: 550px)
      padding: 3rem

.col
  position: relative
  margin: 0
  padding: 0 15px 30px
  width: 100%

.col-inner
    position: relative
    margin-left: auto
    margin-right: auto
    width: 100%
    background-position: 50% 50%
    background-size: cover
    background-repeat: no-repeat
    -ms-flex: 1 0 auto
    flex: 1 0 auto

.box, .box-image, .box-text 
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s

.text-center>div, .text-center>div>div, .text-center .is-divider, .text-center .star-rating, .text-center .is-star-rating
  margin-left: auto
  margin-right: auto

.text-center
  text-align: center

@media screen and (min-width: 850px)
  .large-6 
    max-width: 50%
    -ms-flex-preferred-size: 50%
    flex-basis: 50%

@media screen and (min-width: 550px)
  .medium-6 
    max-width: 50%
    -ms-flex-preferred-size: 50%
    flex-basis: 50%



                    
.main-title
  margin-top: 4.5rem
  @media screen and (max-width: 480px)
    margin-left: 1.5rem

.content.home 
  margin-bottom: 0 !important

.hero-logo
  @media screen and (max-width: 480px)
    background-size: contain !important
    background-repeat: no-repeat !important
    min-height: 43vh !important

.hes-h1
  @media screen and (max-width: 480px) 
    margin-left: 1.5rem !important
    margin-right: 1.5rem !important
    font-size: 20px !important
  @media screen and (min-width: 768px)
    margin-left: 5rem !important
    margin-right: 5rem !important
    font-size: 36px !important

.highlights
  display: flex
  justify-content: center
  margin-bottom: 4rem
  margin-top: 4rem
  .title.is-6
    font-size: 1.8125rem
    font-weight: 700
    line-height: 1
    letter-spacing: .9px
    text-align: center
    color: #f26726
    display: block
    margin-bottom: 0.625rem
    white-space: nowrap
  .content
    font-weight: 700
    line-height: 1.5625rem
    text-align: center
    color: #232323
  @media screen and (max-width: 480px)
    flex-direction: column

.main-content-pitch
  font-weight: 700 !important
  line-height: normal !important
  letter-spacing: 1.04px !important
  text-align: center
  color: #4c5660
  margin: 2rem !important

.is-full
  margin: 0 !important

a.navbar-item:focus, 
a.navbar-item:focus-within, 
a.navbar-item:hover, 
a.navbar-item.is-active, 
.navbar-link:focus, 
.navbar-link:focus-within, 
.navbar-link:hover, 
.navbar-link.is-active
  background-color: $hs-brown !important
  color: white !important

.hero.is-halfheight>* 
  transform: skewY(6deg)

.hero.is-fullheight
  transform: none !important

            
.scroll-indicator 
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  width: 100%
  height: 100%
  top: 100px
            
.scroll-container 
  position: relative
  width: 24px
  height: 24px    

.chevron 
  position: absolute
  width: 28px
  height: 8px
  opacity: 0
  transform: scale3d(.5,.5,.5)
  animation: move 3s ease-out infinite   

.chevron:first-child 
  animation: move 3s ease-out 1s infinite     

.chevron:nth-child(2) 
  animation: move 3s ease-out 2s infinite       

.chevron:after,.chevron:before 
  content: " "
  position: absolute
  top: 0
  height: 100%
  width: 51%
  background: #fff       

.chevron:before 
  left: 0
  transform: skew(0deg,30deg)       

.chevron:after 
  right: 0
  width: 50%
  transform: skew(0deg,-30deg)         

@keyframes move 
  25% 
    opacity: 1
  33%
    opacity: 1
    transform: translateY(30px)
  67% 
    opacity: 1
    transform: translateY(40px)
  to 
    opacity: 0
    transform: translateY(55px) scale3d(.5,.5,.5)
                
.text 
  display: block
  margin-top: 90px
  margin-left: -40px
  font-size: 12px
  color: #fff
  text-transform: uppercase
  white-space: nowrap
  opacity: .25
  animation: pulse 2s linear infinite alternate  

@keyframes pulse 
  to 
    opacity: 1

footer .menu-list .navbar-item
  color: white

footer .has-background-black,
footer.has-background-black
  background-color: $hs-brown !important

.hero:not(.is-fullheight)
  transform: skewY(-6deg)
  transform-origin: top left
  position: relative
  overflow: hidden

.hero.is-halfheight.has-background-black
  min-height: 90vh !important
  height: 100%

.navbar
  background-color: $hs-brown !important

@media screen and (min-width: 1024px) 
  .navbar-end
    justify-content: flex-start !important
    margin-left: 0 !important
  
  .navbar-start
    margin-right: 0 !important
  

#navMenu
  background-color: $hs-brown !important
  justify-content: flex-end

.navbar .navbar-menu
  box-shadow: none !important
  .navbar-item
    color: white

.nested.dropdown
  &:hover > .dropdown-menu
    display: block

  .dropdown-menu
    top: -15px
    margin-left: 100%

  .dropdown-trigger

    button
      padding: 0px 0px
      border: 0px
      font-size: 14px
      font-weight: 400
      height: 2em

.is-vertical-center
  display: flex
  align-items: center


.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.margin-top-0
  margin-top: 0 !important

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left

.menu-names
  margin-right: 5px

footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

.social
  padding: 2em
.social a
  padding: .5em .5em .5em .5em
  margin: .5em
  width: 1em
  height: 1em
  vertical-align: middle
  display: inline

//icons in the footer
.facebook-icon
  color: $facebook-color
.facebook-icon:hover
  color: white
.twitter-icon
  color: $twitter-color
.twitter-icon:hover
  color: white
.instagram-icon
  color: $instagram-color
.instagram-icon:hover
  color: white
.vimeo-icon
  color: $vimeo-color
.vimeo-icon:hover
  color: white
.linkedin-icon
  color: $linkedin-color
.linkedin-icon:hover
  color: white

.flags
  display: inline-block
  margin-left: .5em
  margin-right: .5em

.menu-icon
  padding: 2em
.menu-icon ul li a
  padding: .5em .5em .5em .5em
  margin: .5em
  //width: 1em
  //height: 1em
  vertical-align: middle
  display: inline
  background-color: red
  border-radius: 5px
  position: relative

.banner
  margin-top: 10%
  margin-bottom: 10%

.testimonials
  margin-top: 10%
  margin-bottom: 10%

.card-slide
  margin-top: 10%
  margin-bottom: 10%
  .card-content
    padding: 5%

@import "~bulma"
